<!-- Page Footer  -->

<div class=" container pt-5">
  <footer class="py-5">
    <ul class="nav justify-content-center border-bottom  my-5">
      <li class="nav-item"><a href="https://www.youtube.com/@CodingPoetry" class="nav-link px-2 text-muted"
          target="_blank">Home</a>
      </li>
      <li class="nav-item"><a href="https://github.com/Dhruv25nov" class="nav-link px-2 text-muted"
          target="_blank">Features</a></li>

      <li class="nav-item"><a href="https://www.youtube.com/@CodingPoetry" class="nav-link px-2 text-muted"
          target="_blank">FAQs</a>
      </li>
      <li class="nav-item"><a href="https://www.youtube.com/@CodingPoetry" class="nav-link px-2 text-muted"
          target="_blank">About</a>
      </li>
    </ul>
    <p class="text-center text-muted">© Career-Connector</p>
  </footer>
</div>


</div>
</body>

</html>