<!-- Page Footer  -->
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://www.youtube.com/@CodingPoetry" class="nav-link px-2 text-muted"
          target="_blank">Home</a>
      </li>
      <li class="nav-item"><a href="https://github.com/Dhruv25nov" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="https://www.youtube.com/@CodingPoetry" class="nav-link px-2 text-muted"
          target="_blank">Pricing</a>
      </li>
      <li class="nav-item"><a href="https://www.youtube.com/@CodingPoetry" class="nav-link px-2 text-muted"
          target="_blank">FAQs</a>
      </li>
      <li class="nav-item"><a href="https://www.youtube.com/@CodingPoetry" class="nav-link px-2 text-muted"
          target="_blank">About</a>
      </li>
    </ul>
    <p class="text-center text-muted">© Career-Connect, Inc</p>
  </footer>
</div>