{% include 'header.html' %}


<!-- About us -->
<h2 class="text-center my-5"> About Us!</h2>

<div class=" lead row">
  <div class="col-md-6">
    <p class="text-center">
      Career Connector is a job portal that aims to connect job seekers with employers and opportunities that match
      their skills, experience, and career goals. Our platform is designed to streamline the job search process, making
      it easier and more efficient for both job seekers and employers. </p>
    <p class="text-center">
      At Career Connector, we believe that everyone deserves access to fulfilling and meaningful work. We strive to
      create a diverse and inclusive community of job seekers and employers, and we work hard to ensure that our
      platform is accessible to all.
    </p>


  </div>
  <div class="d-none d-md-block col-md-6">
    <img style="height: 320px; border-radius:4xp" src="{{url_for('static',filename='images/people.jpg')}}" alt=""
      height="320px">
  </div>
</div>


<!-- Jobs openings -->
<h2 class="my-5 text-center">Job Openings</h2>
{% for job in jobs %}
{% include 'joblist.html' %}
{% endfor %}
<div class="my-3 text-center ">
  <a href="mailto:rkatiyar885gmail.com?subject=APPLICATION%20FORM&body=Current%20company%3A%20%3Cname%3E%0D%0ACurrent%20ctc%3A%20%3Cctc%3E%0D%0A"
    class="btn btn-primary btn-lg my-3">Contact Us</a>
  <!-- <a href="mailto:no-one@snai1mai1.com?subject=free chocolate">example</a> -->

</div>

{% include 'footer.html' %}