<div class="border-bottom row">
  <div class="col-9 my-3">
    <h4 style="color:rgb(120,120,120);">{{job["title"]}}</h4>

    <div>
      <b>Title: </b>{{job["title"]}}
    </div>
    <div>
      <b>Location: </b>{{job["location"]}}
    </div>
    <div><b>Salary: </b>{{job["salary"]}}</div>

  </div>

  <div class="col-3">
    <a href="mailto:rkatiyar885gmail.com?subject=Application%20for%20{{job['title']}}&body=Current%20company%3A%20%3C%20name%3E%0D%0ACurrent%20ctc%3A%20%3Cctc%3E%0D%0ANotice%20period%3A%20%3Ctime%3E%0D%0A%0D%0A"
      class="mt-5 mx-auto btn btn-outline-primary">Apply</a>
  </div>

</div>